body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  direction: rtl;
}

#sidebar {
  width: 20%;
  padding: 10px;
  background-color: #f1f1f1;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

#map {
  width: 80%;
  height: 100vh;
}

#filter-container {
  margin-bottom: 20px;
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
}

#info {
  background-color: #f8f9fa;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #dee2e6;
}

/* أنماط الجدول داخل #info */
#info table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 0.85rem; /* حجم الخط أصغر */
}

#info th, #info td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

#info th {
  background-color: #f2f2f2;
}


#locateBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#locateBtn:hover {
  background-color: #0056b3;
}

#map-controls {
  margin-top: 20px;
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#map-controls h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.control-section {
  display: flex;
  flex-direction: column;
}

.control-item {
  margin-bottom: 8px;
}

.control-item input[type="checkbox"] {
  margin-left: 5px;
}